@use "sass:math"

@use '@/assets/sass/colors' as colors
@use '@/assets/sass/constants' as constants
@use '@/assets/sass/dimensions' as dimensions
@use '@/assets/sass/sizes' as sizes


#team
  overflow-y: auto !important

  &[data-number-of-parts="1"]
    height: dimensions.$heightMainOnePart


.o-introduction
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center

  > h1
    text-transform: uppercase

    .o-underline
      text-decoration: underline


.o-members
  display: flex
  flex-direction: column


  > a

    > figure
      display: flex
      align-items: center

      figcaption
        flex-grow: 1


  &[data-number-of-parts="1"]

    gap: calc(dimensions.$heightHeaderOnePart / constants.$phi)

    > a

      > figure
        gap: calc(dimensions.$layoutPaddingRightOnePart / constants.$phi)

        // picture, img
        picture
          width: calc(dimensions.$mainWidthOnePart / math.pow(constants.$phi, 2) - dimensions.$layoutPaddingRightOnePart / constants.$phi)


  &[data-number-of-parts="2"],
  &[data-number-of-parts="3"]
    gap: calc(dimensions.$heightHeaderTwoParts / math.pow(constants.$phi, 2))


  &[data-number-of-parts="2"]

    > a

      > figure
        gap: calc(dimensions.$layoutPaddingRightTwoParts / math.pow(constants.$phi, 2))

        picture, img
          width: calc(dimensions.$mainWidthTwoParts / math.pow(constants.$phi, 2) - dimensions.$layoutPaddingRightTwoParts / math.pow(constants.$phi, 2))


  &[data-number-of-parts="3"]

    > a

      > figure
        gap: calc(dimensions.$layoutPaddingRightThreeParts / math.pow(constants.$phi, 2))

        picture, img
          width: calc(dimensions.$mainWidthThreeParts / math.pow(constants.$phi, 2) - dimensions.$layoutPaddingRightThreeParts / math.pow(constants.$phi, 2))


  figcaption

    h1
      text-transform: uppercase

    *
      text-align: center

      &:not([data-name="babe"])
        text-wrap: nowrap


  .o-user-girls
    display: flex
    align-items: center
    justify-content: center

    > img
      width: 20%


  &[data-number-of-parts="1"]

    figure
      width: 100%

      img
        max-height: 100%
        max-width: 100%


.o-title
  display: flex
  align-items: center
  justify-content: center
  text-wrap: nowrap
