@use "sass:math"

@use '@/assets/sass/colors' as colors
@use '@/assets/sass/constants' as constants
@use '@/assets/sass/dimensions' as dimensions
@use '@/assets/sass/sizes' as sizes


.o-introduction
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center

  > h1
    text-transform: uppercase

    .o-underline
      text-decoration: underline


.o-members
  
  figcaption
    text-align: center
    text-transform: uppercase

    &:not([data-name="babe"])
      text-wrap: nowrap


  &[data-number-of-parts="1"]

    figure
      width: 100%

      img
        max-height: 100%
        max-width: 100%


.o-title
  display: flex
  align-items: center
  justify-content: center
  text-wrap: nowrap
