@use "sass:math"

@use '@/assets/sass/constants' as constants
@use '@/assets/sass/dimensions' as dimensions
@use '@/assets/sass/sizes' as sizes


.o-team-member
  height: dimensions.$heightSectionTwoParts

  > .o-profile-text
    display: flex
    align-items: center

    &[data-number-of-parts="3"]
      height: dimensions.$heightSectionTwoParts


.o-country-name

  > *
    text-wrap: nowrap


.o-country-name, .o-profile-name
  display: flex
  align-items: center
  justify-content: center
  text-align: center

  > *
    text-transform: uppercase


.o-profile-picture

  &[data-number-of-parts="2"]
    height: dimensions.$heightSectionTwoParts


.o-country-picture, .o-profile-picture
  display: flex
  align-items: center
  justify-content: center
  text-align: center

  &[data-number-of-parts="3"]
    height: dimensions.$heightSectionTwoParts

  img
    max-height: 100%
    max-width: 100%


.o-profile-text
  text-align: center
  text-transform: uppercase

  p
    line-height: 1

    span.fw-bold
      text-decoration: underline