//  INCLUDE THIS FILE BEFORE BOOTSTRAP

//  Overriding Bootstrap's theme colors

$danger:        #f00 !default;
$dark:          #110d0d !default;
$light:         #f6eeee !default;
$light-2:       #f6eeee33 !default;
$light-3:       #f6eeee66 !default;


$theme-colors: (
  "danger":         $danger,
  "dark":           $dark,
  "light":          $light,
  "light-2":        $light-2,
  "light-3":        $light-3
) !default;
