@use "sass:math"

@use '@/assets/sass/constants' as c
@use "sizes" as s


$height: calc(var(--vh, 1vh) * 100)
$heightHeader: calc($height / math.pow(c.$phi, 4))
$heightFooter: calc($height / math.pow(c.$phi, 3))



// DO NOT MULTIPLY BY 1PX!
$scrollbarWidth: s.$twice_54_by_phi_power_2