$o-font: "o-font"
$o-font-kh: "o-font-kh"
$o-font-my: "o-font-my"
$o-font-th: "o-font-th"
$o-font-vi: "o-font-vi"

@font-face
  font-family: "o-font"
  src: url("/fonts/mukta.ttf")

@font-face
  font-family: "o-font-kh"
  src: url("/fonts/kantumruy-pro.ttf")

@font-face
  font-family: "o-font-my"
  src: url("/fonts/padauk.ttf")

@font-face
  font-family: "o-font-th"
  src: url("/fonts/prompt.ttf")

@font-face
  font-family: "o-font-vi"
  src: url("/fonts/thasadith.ttf")


*:not(i), i
  font-size: $twice_54_by_phi_power_3 * 1px
  font-weight: $twice_54_by_phi_power_minus_3

*:not(i)
  letter-spacing: $phi * 1px
  vertical-align: middle

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

i
  letter-spacing: 1px

  &.bi
  
    &.bi-hand-index, &.bi-hand-index-fill
      transform: rotate(90deg)


.o-external-link
  @extend .fw-bold
  display: flex
  align-items: center
  justify-content: center

  div
    transform: rotate(90deg)


#__nuxt

  *:not(i)
    font-family: $o-font


  &[data-locale="my"]
  
    *:not(i)
      font-family: $o-font-my


  &[data-locale="th"]
  
    *:not(i)
      font-family: $o-font-th


  &[data-locale="vi"]
  
    *:not(i)
      font-family: $o-font-vi


a, a:hover
  color: inherit
  text-decoration: none


label
  font-size: inherit


@each $i in (1, 2, 3, 4, 5, 6)

  h#{ $i }
    margin: 0
    padding: 0


// overriding bootstrap classes

.fw-bold, strong
  font-weight: $twice_54_by_phi_power_minus_4 !important


// own style

.o-font-smaller
  font-size: $once_54_by_phi_power_3 * 1px

.o-font-en, .o-font-en *
  font-family: $o-font !important

.o-font-kh, .o-font-kh *
  font-family: $o-font-kh !important

.o-font-my, .o-font-my *
  font-family: $o-font-my !important

.o-font-th, .o-font-th *
  font-family: $o-font-th !important

.o-font-vi, .o-font-vi *
  font-family: $o-font-vi !important