@use 'colors' as colors
@use 'dimensions' as dimensions


.o-modal
  position: absolute
  z-index: 7
  transition: height .5s linear, opacity .5s linear

  &[data-is-shown="0"]
    height: 0
    opacity: 0

  &[data-is-shown="1"]
    opacity: 1


  &[data-number-of-parts="1"]
    
    width: calc(100% - dimensions.$layoutPaddingRightOnePart - dimensions.$layoutPaddingLeftOnePart)


  &[data-number-of-parts="2"],
  &[data-number-of-parts="3"]

    top: dimensions.$heightHeaderTwoParts
  
    &[data-is-shown="1"]
      height: calc(dimensions.$height - dimensions.$heightHeaderTwoParts)


#header-left-modal, #header-central-modal

  &[data-is-shown="1"]

    &[data-number-of-parts="1"]
      top: dimensions.$layoutPaddingTopOnePart
      height: dimensions.$heightHeaderOnePart
    
      width: calc(100% - dimensions.$layoutPaddingRightOnePart - dimensions.$layoutPaddingLeftOnePart)


    &[data-number-of-parts="2"],
    &[data-number-of-parts="3"]
      top: 0
      height: dimensions.$heightHeaderTwoParts


#header-left-modal

  &[data-number-of-parts="1"]
    width: 100%


#aside-modal, #header-left-modal

  &[data-number-of-parts="2"]
    width: dimensions.$asideWidthTwoParts

  &[data-number-of-parts="3"]
    width: dimensions.$asideWidthThreeParts


#central-modal, #header-central-modal

  &[data-number-of-parts="2"]
    top: 0
    height: 0

  &[data-number-of-parts="3"]
    width: dimensions.$centralWidthThreeParts


#main-modal, #modal-layout
  background-color: colors.$dark


  &[data-number-of-parts="1"]
    
    top: calc(dimensions.$layoutPaddingTopOnePart + dimensions.$heightHeaderOnePart)


    &[data-is-shown="1"]
      height: calc(dimensions.$heightAsideOnePart + dimensions.$heightMainOnePart + dimensions.$heightFooterOnePart)


  &[data-number-of-parts="2"]
    width: dimensions.$mainWidthTwoParts

  &[data-number-of-parts="3"]
    width: dimensions.$mainWidthThreeParts


#modal-layout
  
  background-color: colors.$dark
  z-index: 8
    
  top: calc(dimensions.$layoutPaddingTopOnePart + dimensions.$heightHeaderOnePart)

  width: calc(100% - dimensions.$layoutPaddingRightOnePart - dimensions.$layoutPaddingLeftOnePart)

  height: calc(dimensions.$heightAsideOnePart + dimensions.$heightMainOnePart + dimensions.$heightFooterOnePart)

  overflow-y: auto