@use "sass:math"
@use '@/assets/sass/colors' as colors
@use '@/assets/sass/dimensions' as dimensions

@import "./_mixins/borders.sass"


// Width
::-webkit-scrollbar
  width: dimensions.$scrollbarWidth * 1px


// Track

::-webkit-scrollbar-track

  background-clip: padding-box
  background-color: colors.$light-2

  border-left: (dimensions.$scrollbarWidth - $twice_54_by_phi_power_8) * .5px solid colors.$dark

  border-right: (dimensions.$scrollbarWidth - $twice_54_by_phi_power_8) * .5px solid colors.$dark

  @include o-border-radius(dimensions.$scrollbarWidth * 1px)


// Handle

::-webkit-scrollbar-thumb

  background-clip: padding-box
  background-color: colors.$light-2

  border-left: (dimensions.$scrollbarWidth - $twice_54_by_phi_power_5) * .5px solid colors.$dark

  border-right: (dimensions.$scrollbarWidth - $twice_54_by_phi_power_5) * .5px solid colors.$dark

  @include o-border-radius(dimensions.$scrollbarWidth * 1px)
