@use '@/assets/sass/colors' as colors
@use '@/assets/sass/sizes' as sizes


article

  p
    // color: colors.$secondary-5 !important
    font-size: sizes.$twice_54_by_phi_power_4 * 1px
    padding-bottom: sizes.$twice_54_by_phi_power_5 * 1px
    text-align: justify