@use '@/assets/sass/sizes' as sizes


article

  display: flex
  flex-direction: column
  gap: sizes.$twice_54_by_phi_power_5 * 1px


  p
    font-size: sizes.$twice_54_by_phi_power_4 * 1px
    text-align: justify