@use "sass:math"

@use '@/assets/sass/constants' as constants
@use '@/assets/sass/dimensions' as dimensions
@use '@/assets/sass/sizes' as sizes


#guest-tech-team-lead

  display: flex
  flex-direction: column
  gap: calc(dimensions.$heightHeaderTwoParts / constants.$phi)

  height: dimensions.$heightSectionTwoParts


.o-why-guests

  display: flex
  align-items: center
  justify-content: center
  text-align: center

  > *
    text-transform: uppercase


.o-expertise-angkor-wat

  display: flex
  align-items: center
  justify-content: center
  text-align: center

  img
    max-height: 100%
    max-width: 100%

  &[data-number-of-parts="2"],
  &[data-number-of-parts="3"]

    img
      max-height: dimensions.$heightSectionTwoParts


.o-expertise-text
  display: flex
  flex-direction: column
  // gap: sizes.$twice_54_by_phi_power_3 * 1px

  h1, h2
    text-align: center
  
  h1
    text-transform: uppercase

  p
    font-size: sizes.$twice_54_by_phi_power_4 * 1px
    text-align: justify

  li
    text-align: justify
    list-style-image: url("/images/sun.png")
    list-style-position: inside

  .o-underline
    text-decoration: underline


.o-guest-tech-team-lead-menu
  display: flex
  flex-direction: column
  justify-content: center

  li
    display: flex
    align-items: center
    cursor: pointer

    > div
      text-transform: uppercase