@use "sass:math"

@use '@/assets/sass/colors' as colors
@use '@/assets/sass/constants' as constants
@use '@/assets/sass/dimensions' as dimensions
@use '@/assets/sass/sizes' as sizes


#our-expertise

  display: flex
  flex-direction: column
  gap: calc(dimensions.$heightHeaderTwoParts / constants.$phi)
  // gap: calc(dimensions.$heightHeaderTwoParts / math.pow(constants.$phi, 2))

  height: dimensions.$heightSectionTwoParts

  > *
    display: flex
    flex-direction: column
    // gap: calc(dimensions.$heightHeaderTwoParts / math.pow(constants.$phi, 2))


.o-expertise-in-modal
  display: flex
  flex-direction: column
  gap: calc(dimensions.$heightHeaderOnePart / constants.$phi)
  // gap: calc(dimensions.$heightHeaderOnePart / math.pow(constants.$phi, 2))

  > *
    display: flex
    flex-direction: column
    // gap: calc(dimensions.$heightHeaderOnePart / math.pow(constants.$phi, 2))


.o-ada-2
  display: flex
  align-items: center
  justify-content: center

  img
    max-width: 100%
    max-height: 100%


.o-expertise-slogan, .o-title
  display: flex
  align-items: center
  justify-content: center
  text-align: center

  > *
    text-transform: uppercase


.o-expertise-text

  > a
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    h1
      text-align: center


    .o-expertise-know-how
      display: flex
      flex-wrap: wrap
      align-items: center
      text-transform: uppercase

      background-color: transparent
      color: colors.$light

      border: none
      padding: 0

      p
        flex-grow: 1


        &:first-child
          // compensating border-bottom on last-child
          margin-top: sizes.$twice_54_by_phi_power_7 * -1px


        &:last-child

          display: flex
          align-items: center
          justify-content: center

          border-bottom: sizes.$twice_54_by_phi_power_7 * 1px solid colors.$danger

          border-top-left-radius: sizes.$twice_54_by_phi * 1%
          border-top-right-radius: sizes.$twice_54_by_phi_power_2 * 1%
          border-bottom-left-radius: sizes.$twice_54_by_phi * 1%
          border-bottom-right-radius: sizes.$twice_54 * 1%


          span

            display: flex
            align-items: center
            justify-content: center

            background-color: colors.$danger

            border-top-left-radius: sizes.$twice_54_by_phi * 1%
            border-bottom-left-radius: sizes.$twice_54 * 1%
            border-top-right-radius: sizes.$twice_54 * 1%
            border-bottom-right-radius: sizes.$twice_54_by_phi * 1%
            
            height: sizes.$twice_54_by_phi_power_3 * 1px
            width: sizes.$twice_54_by_phi_power_2 * 1px