@use "sass:math"

@use '@/assets/sass/colors' as colors
@use '@/assets/sass/constants' as constants
@use '@/assets/sass/sizes' as sizes


.o-logo

  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  border: #{ constants.$phi }px solid colors.$light

  p
    text-align: center


  > header, > footer

    display: flex
    align-items: flex-start

    text-transform: uppercase
    width: 100%


    > div:first-child
      color: colors.$danger

      text-shadow: #{ constants.$phi }px #{ calc(1 / constants.$phi) }px colors.$light

      width: calc(100% / math.pow(constants.$phi, 2))


    > div:last-child
      text-align: left
      width: calc(100% / constants.$phi)


  > section

    width: 100%
    display: flex
    align-items: center
    justify-content: center


    > div:first-of-type

      width: calc(100% / math.pow(constants.$phi, 2))

      display: flex
      align-items: center
      justify-content: end

    
      > div
        border-top: #{ constants.$phi }px solid colors.$danger
        border-bottom: #{ constants.$phi }px solid colors.$light
        width: calc(100% / constants.$phi)


    > div:last-of-type
      width: calc(100% / constants.$phi)
    
      > div
        border-top: #{ constants.$phi }px solid colors.$light
        width: calc(100% / constants.$phi)