@use '@/assets/sass/colors' as colors


#menu

  display: flex
  flex-direction: column


  ul
    display: flex
    align-items: center
    justify-content: end


    button
      display: flex
      flex-wrap: wrap-reverse
      align-items: center
      justify-content: end

      background-color: transparent
      color: colors.$light

      border: none
      padding: 0
