@use "sass:math"

@use '@/assets/sass/colors' as colors
@use '@/assets/sass/constants' as constants
@use '@/assets/sass/dimensions' as dimensions
@use '@/assets/sass/sizes' as sizes

$threePartsWidthRatioPart: 1 + constants.$phi + math.pow(constants.$phi, 2)


#contact

  &.o-no-machine

    display: flex
    flex-direction: column
    justify-content: center
    height: 100%


// .o-wat-arun, .o-slogan
//   display: flex
//   align-items: center
//   justify-content: center


.o-wat-arun

  img
    max-width: 100%
    max-height: 100%