@use "sass:math"
@use '@/assets/sass/colors' as colors
@use '@/assets/sass/constants' as constants
@use '@/assets/sass/dimensions' as dimensions
@use '@/assets/sass/grid' as grid
@use '@/assets/sass/sizes' as sizes

$_height: calc(var(--vh, 1vh) * 100)


figure
  padding: 0


#__nuxt

  background-color: colors.$dark
  box-sizing: border-box
  
  display: flex
  align-items: stretch
  // flex-direction: column-reverse

  height: 100vh
  height: $_height
  width: 100%
  overflow: hidden

  padding-top: calc($_height / math.pow(constants.$phi, 4))
  padding-bottom: calc($_height / math.pow(constants.$phi, 3))


  > *
    color: colors.$light
    height: 100%


  > aside
    border-right: 1px solid colors.$light-3
    text-align: right
    padding-right: calc(100% / math.pow(constants.$phi, 8))
    padding-left: calc(100% / math.pow(constants.$phi, 9))
    width: calc(100% / math.pow(constants.$phi, 4) - 1px)

    > div
      height: 100%


  > menu
    border-right: 1px solid colors.$light-3
    padding-right: calc(100% / math.pow(constants.$phi, 6))
    padding-left: calc(100% / math.pow(constants.$phi, 7))
    width: calc(100% / math.pow(constants.$phi, 3) - 1px)

    > *
      height: 100%


  > main[role="main"]
    background-color: colors.$dark
    padding-right: calc(100% / math.pow(constants.$phi, 4))
    padding-left: calc(100% / math.pow(constants.$phi, 5))
    width: calc(100% / constants.$phi)

    > *
      height: 100%
      overflow-y: auto