@use "sass:math"

@use '@/assets/sass/colors' as colors
@use '@/assets/sass/constants' as constants
@use '@/assets/sass/dimensions' as dimensions
@use '@/assets/sass/sizes' as sizes


article

  $_gap: dimensions.$layoutPaddingRightPortrait * constants.$phi
  gap: $_gap


  figure
    width: calc(100% / 3 - $_gap / 3 * 2)

    picture
      max-height: 100%

      img
        max-height: 100%


    figcaption
      font-size: sizes.$twice_54_by_phi_power_4 * 1px
      text-align: center
    //   height: calc(100% / math.pow(constants.$phi, 2))