@use "sass:math"

@use '@/assets/sass/colors' as colors
@use '@/assets/sass/constants' as constants
@use '@/assets/sass/sizes' as sizes


article

  figure
    height: 100%

    picture
      max-height: 100%

      img
        max-height: 100%


    // figcaption
    //   height: calc(100% / math.pow(constants.$phi, 2))