@use "sass:math"

@use '@/assets/sass/colors' as colors
@use '@/assets/sass/constants' as constants
@use '@/assets/sass/dimensions' as dimensions
@use '@/assets/sass/sizes' as sizes

$threePartsWidthRatioPart: 1 + constants.$phi + math.pow(constants.$phi, 2)


#index

  &.o-no-machine

    display: flex
    flex-direction: column
    justify-content: center
    height: 100%


.o-charles-babbage, .o-slogan
  display: flex
  align-items: center
  justify-content: center


.o-charles-babbage

  img
    max-width: 100%
    max-height: 100%


.o-slogan
  flex-direction: column
  text-align: center

  button
    display: flex
    flex-wrap: wrap
    align-items: center
    text-transform: uppercase

    background-color: transparent
    color: colors.$light

    border: none
    padding: 0

    p
      flex-grow: 1

    p:last-child
      background-color: colors.$danger


#index-machine
  flex-grow: 1

  display: flex
  align-items: center
  justify-content: space-between


  .o-slogan
    flex-grow: 1

    border-right: 1px solid colors.$light

    margin-right: calc(dimensions.$layoutPaddingRightThreeParts * constants.$phi)

    padding-right: calc(dimensions.$layoutPaddingRightThreeParts - 1px)


  .o-charles-babbage
    display: flex
    align-items: center
    justify-content: end


#index-machine.o-no-slogan

  .o-charles-babbage
    flex-grow: 1
    justify-content: center
