@use "sass:math"

@use '@/assets/sass/colors' as colors
@use '@/assets/sass/constants' as constants
@use '@/assets/sass/grid' as grid
@use '@/assets/sass/sizes' as sizes


#ladies-in-it
  display: flex
  flex-wrap: wrap
  align-items: center

  &[data-number-of-parts="2"]
    > .o-lady
      width: 100%


.o-just-facts
  display: flex
  align-items: center
  justify-content: center
  text-align: center


.o-lady
  text-align: justify

  > span.fw-bold
    text-transform: uppercase
    text-decoration: underline


.o-lady-menu
  display: flex
  flex-direction: column

  li
    display: flex
    align-items: center

    > div
      text-transform: uppercase